<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops! Page Not Found</title>
    <link rel="stylesheet" href="/css/theme.css" />
    <!-- Link to external CSS -->
  </head>
  <div class="error-page">
    <!-- Add class for styling -->
    <h1>Oh no! You took a wrong turn! 😱</h1>
    <p>
      We couldn't find the page you're looking for. Maybe it's taking a break?
      🤔
    </p>
    <img
      class="error-image"
      src="/images/loading.gif"
      alt="Loading animation"
    />
    <p>But don't worry! Click below to return home safely. 🏡</p>
    <a class="back-home" href="/home">Take Me Home</a>
  </div>
</html>
